@page
@model CRMAPP.Pages.Customers.Delete
@{
    ViewData["Title"] = "Delete";
}


<div class="mx-auto rounded border pt-4" style="width: 400px">
    <h2 class="text-center mb-3">Delete Customer</h2>
    <hr />
    <p>Are you sure you want to Delete this Customer?</p>
    <p>Customer ID =@Request.Query["Id"]</p>
    <hr />

    <form  method="post">
        <div class="row">
            <div class="col-sm-6 d-grid">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
            <div class="col-sm-6 d-grid">
                <a class="btn btn-outline-danger" href="/Customers/Index">Cancel</a>
            </div>
        </div>
    </form>
</div>
