* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:black;
    color : white;
    padding : 20px;
    text-align: center;
}

header h1{
    font-size: 32px;
}

nav ul{
    list-style:none;
    padding:0;
    display:flex;
    justify-content: center;
}

nav ul li {
    margin : 0 15px;
}

nav ul li a:hover,nav ul li a.active{
    text-decoration: underline;
}

footer{
    text-align:center;
    padding : 25px;
    background-color:  #f8f9fa;
    color: #6c757d;
}

footer a {
    color : #6c757d;
}

footer a:hoover{
    text-decoration: underline;
}

